/* apply a natural box layout model to all elements, but allowing components to change */

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

//variable
$pageBgColor: #dae9e4;
$onHoverColor: #8bcbc8;
$navFont: 'Montserrat',
sans-serif;
$imgMaxWidth: 100%;
$fontColor: #3c2e3d;
//navbar
$navbarATags: #08A7A0;
$navbarATagsHover: #f3d350;
body {
    color: $fontColor;
    font-family: $navFont;
}

main {
    background: $pageBgColor;
    height: 100vh;
    margin-top: -50px;
}

.home-content {
    padding-top: 100px;
}

.rotate-anticlockwise {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    max-width: $imgMaxWidth;
    max-height: 100%;
}

//Navigation
.logo-wrapper {
    position: absolute;
    margin-top: 0px;
    z-index: 2;
}

#login-description {
    display: none;
}
.member-ul:hover #login-description {
    display: inline-block;
}

@media screen and (min-width: 768px) {
    #myUl {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    //    nav {
    //        display: flex;
    //        justify-content: center;
    //    }
}

@media screen and (max-width: 768px) {}

//.navbar-default .collapse {
//    margin: 0 auto;
//}
//
//.navbar-default #myUl {
//    padding: 0 100px;
//}
//
//.navbar {
//    background: transparent;
//    border-radius: 0;
//    border: 0;
//    box-shadow: none;
//}
//
//.navbar-collapse {
//    margin-top: 20px;
//}
//
//.navbar-default .navbar-toggle .icon-bar {
//    background-color: $navbarATags;
//}
//
//.navbar-default .navbar-toggle:hover {
//    background: $navbarATagsHover;
//}
//
//.navbar-default .my-links li a {
//    color: $navbarATags;
//}
//
//.navbar-default .my-links li:after {
//    content: '';
//    display: block;
//    height: 5px;
//    width: 0;
//    margin: 0 .5rem -5px 0;
//    -webkit-transition: width .3s ease-out, background-color .3s ease-out;
//    transition: width .3s ease-out, background-color .3s ease-out;
//}
//
//.navbar-default .my-links li a:hover {
//    color: $navbarATagsHover;
//}
//
//.navbar-default .my-links li:hover:after {
//    width: 100%;
//    background: $navbarATagsHover;
//}
@media screen and (max-width: 768px) {
    .navbar-default .my-links li:after {
        display: none;
    }
}

#myUl {
    display: flex;
}

//aside 
aside.social-media {
    position: fixed;
    top: 200px;
    background: $pageBgColor;
    z-index: 100;
}

aside.social-media ul li {
    padding: 6px 8px 0 8px;
    list-style: none;
    display: block;
    text-decoration: none;
}

aside.social-media ul li:hover {
    text-decoration: none;
    background: $onHoverColor;
}

aside.social-media ul {
    margin: 0;
}

aside.social-media ul li a {
    font-size: 30px;
    color: $fontColor;
}

//home styling
@media screen and (max-width: 768px) {
    section {
        margin-bottom: 130px;
    }
}
