<main>
  <article class="login">
    <section>
      <h1>Member Login</h1>
      <h3>Enter your details to login</h3>
    </section>
    <section>
      <!-- Simple Textfield -->
      <form ng-submit="logUser(user)">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="sample1" ng-model="user.username">
          <label class="mdl-textfield__label" for="sample1">Username...</label>
        </div> <br/>
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="sample1" ng-model="user.password">
          <label class="mdl-textfield__label" for="sample1">Password...</label>
        </div><br/>
        <div class="mdl-textfield mdl-js-textfield">
          <button type="submit" class="mdl-button mdl-js-button mdl-button--primary pull-right">
            LOG IN
          </button>
        </div>
        <div>
          <p><a href="#">Lost your password?</a><p>
        </div>
      </form>
    </section>
  </article>
</main>
