<main class="contact-wrapper">
  <article class="contact-article">
  <section class="contact-row hgroup contact-section">
    <h1 id="hgroup-h1">CONTACT US &nbsp;</h1>
    <h3 id="hgroup-h3">Fill out the form below to learn more!</h3>
  </section>
  <section class="contact-row contact-body contact-section">
    <form class="contact-form" action="#">
      <ul>
        <li>
          <p class="left">
            <label for="first_name">first name</label>
            <input class="contact-input" type="text" name="first_name" placeholder="John" />
          </p>
          <p class="float-right">
            <label for="last_name">last name</label>
            <input class="contact-input" type="text" name="last_name" placeholder="Smith" />
          </p>
        </li>

        <li>
          <p>
            <label for="email">email <span class="req">*</span></label>
            <input class="contact-input" type="email" name="email" placeholder="john.smith@gmail.com" />
          </p>
        </li>
        <li><div class="divider"></div></li>
        <li>
          <label for="comments">comments</label>
          <textarea cols="46" rows="3" name="comments"></textarea>
        </li>

        <li>
          <input class="btn btn-submit contact-input" type="submit" value="Submit" />
          <small>or press <strong>enter</strong></small>
        </li>
      </ul>
    </form>
  </section>
</article>
</main>
